@import "tailwindcss";

/* Tokens warna */
:root {
  --color-background: #FFFFFF;
  --color-foreground: #0d131f;
  --color-accent: #FAAC05;
  --font-sans: 'Open Sans', sans-serif;
  --font-heading: 'Poppins', sans-serif;
}



h1,h2,h3,h4,h5,h6 { font-family: var(--font-heading); }
.font-heading { font-family: var(--font-heading); }
.font-sans { font-family: var(--font-sans); }
html { scroll-behavior: smooth; }
